<div id="appSidenav" class="sidenav">
  <a href="javascript:void(0)"
     class="closebtn"
     (click)="closeNav()">
     &times;
  </a>
  <a routerLink="my-profile" routerLinkActive="active-sidenav-link">
    <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    My Profile
  </a>
  <a routerLink="headlines" routerLinkActive="active-sidenav-link">
    <i class="fa fa-bolt fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Headlines
  </a>
  <a routerLink="covid19" routerLinkActive="active-sidenav-link">
    <i class="fa fa-medkit fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    COVID-19
  </a>
  <a routerLink="entertainment" routerLinkActive="active-sidenav-link">
    <i class="fa fa-music fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Entertainment
  </a>
  <a routerLink="business" routerLinkActive="active-sidenav-link">
    <i class="fas fa-money-bill-wave fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Business
  </a>
  <a routerLink="technology" routerLinkActive="active-sidenav-link">
    <i class="fa fa-space-shuttle fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Technology
  </a>
  <a routerLink="sports" routerLinkActive="active-sidenav-link">
    <i class="fas fa-futbol fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Sports
  </a>
  <a routerLink="health" routerLinkActive="active-sidenav-link">
    <i class="fa fa-heartbeat fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Health
  </a>
  <a routerLink="science" routerLinkActive="active-sidenav-link">
    <i class="fa fa-flask fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Science
  </a>
  <a routerLink="archives" routerLinkActive="active-sidenav-link">
    <i class="fa fa-archive fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Archives
    <br>(Coming Soon)
  </a>
  <a routerLink="contact-us" routerLinkActive="active-sidenav-link">
    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    Contact Us
  </a>
  <a routerLink="about-us" routerLinkActive="active-sidenav-link">
    <i class="fa fa-address-card fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    About Us
  </a>
</div>
