<div id="appSidenav" class="sidenav">
  <a href="javascript:void(0)"
     class="closebtn"
     (click)="closeNav()">
     &times;
  </a>
  <a routerLink="headlines" routerLinkActive="active-sidenav-link">Headlines</a>
  <a routerLink="covid19" routerLinkActive="active-sidenav-link">COVID-19</a>
  <a routerLink="entertainment" routerLinkActive="active-sidenav-link">Entertainment</a>
  <a routerLink="business" routerLinkActive="active-sidenav-link">Business</a>
  <a routerLink="technology" routerLinkActive="active-sidenav-link">Technology</a>
  <a routerLink="sports" routerLinkActive="active-sidenav-link">Sports</a>
  <a routerLink="health" routerLinkActive="active-sidenav-link">Health</a>
  <a routerLink="science" routerLinkActive="active-sidenav-link">Science</a>
  <a routerLink="archives" routerLinkActive="active-sidenav-link">Archives (Coming Soon)</a>
  <a routerLink="contact-us" routerLinkActive="active-sidenav-link">Contact Us</a>
  <a routerLink="about-us" routerLinkActive="active-sidenav-link">About Us</a>
</div>
