<div id="appSidenav" class="sidenav">
  <a href="javascript:void(0)"
     class="closebtn"
     (click)="closeNav()">
     &times;
  </a>
  <a routerLink="headlines">Headlines</a>
  <a routerLink="covid19">COVID-19</a>
  <a routerLink="entertainment">Entertainment</a>
  <a routerLink="business">Business</a>
  <a routerLink="technology">Technology</a>
  <a routerLink="sports">Sports</a>
  <a routerLink="health">Health</a>
  <a routerLink="science">Science</a>
  <a routerLink="archives">Archives (Coming Soon)</a>
  <a routerLink="contact-us">Contact Us</a>
  <a routerLink="about-us">About Us</a>
</div>
