.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #fffbc4;
  background: -moz-linear-gradient(left, #fffbc4 0%, #ffeed2 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #fffbc4), color-stop(100%, #ffeed2));
  background: -webkit-linear-gradient(left, #fffbc4 0%, #ffeed2 100%);
  background: -o-linear-gradient(left, #fffbc4 0%, #ffeed2 100%);
  background: -ms-linear-gradient(left, #fffbc4 0%, #ffeed2 100%);
  background: linear-gradient(to right, #fffbc4 0%, #ffeed2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbc4', endColorstr='#ffeed2', GradientType=1 );
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 65px;
  font-weight: bold;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.user-nav-links a:hover {
  color: #fffff0;
  background-color: #434343;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  width: 400px;
}

/* Custom scrollbar starts. */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* Custom scrollbar ends. */

/* Highlight active side-nav link. */
.active-sidenav-link {
  color: #ffffff !important;
  background-color: #434343 !important;
}

.user-nav-options {
  background-color: #d2ceb8;
}

.saved-news {
  margin-left: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .sidenav a {
    font-size: 10px;
  }
  .sidenav .closebtn {
    font-size: 18px;
  }
}
