<div class="row header-style topnav">
  <div class="col-xs-6">
    <span class="hamburger" (click)="openNav()">&#9776;</span>
  </div>
  <div class="col-xs-6">
    <h4><a href="/" class="main-site-title">Bulletin News</a></h4>
  </div>
  <div class="col-xs-6 search-container">
    <input type="text"
           placeholder="Search for topics"
           [(ngModel)]="searchInput"
           (keyup.enter)="showAllSearchResults()">
    <button type="button"
            (click)="showAllSearchResults()">
            <i class="fa fa-search"></i>
    </button>
  </div>
</div>
