.header-style {
  background: #292525;
  padding: 14px;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.hamburger-container {
  margin-top: 4px;
}

.hamburger {
  cursor: pointer;
  font-size: 20px;
  padding: 14px;
}

.topnav {
  background: #211e1e;
  box-shadow: 0 1px #000;
  overflow: hidden;
}

.topnav .search-container {
  float: right;
  margin-left: 10%;
  margin-top: 5px;
  width: 60%;
}

.topnav input[type=text] {
  padding: 4px;
  border: none;
  width: 70%;
}

.topnav .search-container button {
  padding: 4px 10px;
  margin-right: 16px;
  background: #ddd;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.profile-pic-header {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 30px;
}

.main-site-title {
  text-decoration: none;
  color: inherit;
  font-family: 'Oleo Script', cursive;
  font-size: 30px;
}

@media screen and (max-width: 700px) {
  .main-site-title {
    text-decoration: none;
    color: inherit;
    font-family: 'Oleo Script', cursive;
    font-size: 18px;
  }

  .profile-pic-header {
    display: None;
  }

  .topnav .search-container {
    font-size: 8px;
  }

  .hamburger {
    font-size: 16px;
    padding: 14px;
  }

  /* 
  .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .topnav input[type=text] {
    border: 1px solid #ccc;
  } */
}

@media screen and (max-width: 1024px) {
  .topnav .search-container {
    width: inherit;
  }
}
