<div class="contact-us-container">
<div class="card flex-row flex-wrap news-li-style">
  <div class="flex-wrap card-body news-content">
    <div id="contact">
        <div class="section-content">
          <h2 class="section-header"><span class="creative-header">Get in Touch with us</span></h2>
          <p *ngIf="!formSubmitted">Feel free to give us a feedback.</p>
          <h5 *ngIf="formSubmitted" class="intro-txt-animate">Thanks for sharing your thoughts. We will keep you posted.</h5>
        </div>
        <div class="contact-section">
          <div class="container">
            <form #feedbackForm="ngForm" (ngSubmit)="feedbackForm.form.valid && saveFeedback(feedbackForm)">
              <div class="col-md-6 form-line">
                <div class="form-group form-group-spc">
                  <label class="contact-us-label" for="inputUsername">Your Name</label>
                  <input type="text"
                         class="form-control"
                         id="inputUsername"
                         name="name"
                         placeholder=" Enter Name"
                         [(ngModel)]="feedbackModel.name"
                         [ngClass]="{ 'is-invalid': feedbackForm.submitted && name.invalid }"
                         #name="ngModel"
                         required />
                  <div class="invalid-feedback" *ngIf="feedbackForm.submitted && name.invalid">
                    <p *ngIf="name.errors.required">Name is required</p>
                  </div>
                </div>
                <div class="form-group form-group-spc">
                  <label class="contact-us-label" for="inputEmail">email Address</label>
                  <input type="email"
                         class="form-control"
                         id="inputEmail"
                         name="email"
                         placeholder=" Enter Email id"
                         [email]="true"
                         [(ngModel)]="feedbackModel.email"
                         [ngClass]="{ 'is-invalid': feedbackForm.submitted && email.invalid }"
                         #email="ngModel"
                         required />
                  <div class="invalid-feedback" *ngIf="feedbackForm.submitted && email.invalid">
                    <p *ngIf="email.errors.required">Email is required</p>
                  </div>
                </div>	
                <div class="form-group form-group-spc">
                  <label class="contact-us-label" for="inputMobile">Mobile No.</label>
                  <input type="tel"
                         class="form-control"
                         id="inputMobile"
                         name="mobile"
                         placeholder=" Enter 10-digit mobile no."
                         [(ngModel)]="feedbackModel.mobile"
                         [ngClass]="{ 'is-invalid': feedbackForm.submitted && mobile.invalid }"
                         [pattern]="mobNumberPattern"
                         #mobile="ngModel" />
                  <div class="invalid-feedback" *ngIf="feedbackForm.submitted && mobile.errors && mobile.errors.pattern">
                    <p>Mobile number not valid</p>
                  </div>
                </div>
                </div>
                <div class="col-md-6 form-line">
                <div class="form-group form-group-spc">
                  <label class="contact-us-label" for ="description">Message</label>
                  <textarea  class="form-control txtarea"
                             id="description"
                             name="message"
                             placeholder="Enter Your Message"
                             [(ngModel)]="feedbackModel.message"
                             [ngClass]="{ 'is-invalid': feedbackForm.submitted && message.invalid }"
                             #message="ngModel"
                             required>
                  </textarea>
                  <div class="invalid-feedback" *ngIf="feedbackForm.submitted && message.invalid">
                    <p *ngIf="message.errors.required">Message is required</p>
                  </div> 
                </div>
                <div class="form-group btn-grp">
                  <button type="submit"
                          class="btn btn-default submit">
                          <i class="fa fa-paper-plane"
                             aria-hidden="true">
                          </i>  Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
