<div class="contact-us-container">
<div class="card flex-row flex-wrap">
  <div class="flex-wrap card-body news-li-style news-content">
    <div id="contact">
        <div class="section-content">
          <h2 class="section-header"><span class="creative-header">Get in Touch with us</span></h2>
          <h5>Feel free to give a feedback to us</h5>
        </div>
        <div class="contact-section">
          <div class="container">
            <form>
              <div class="col-md-6 form-line">
                <div class="form-group">
                  <label class="contact-us-label"for="exampleInputUsername">Your name</label>
                  <input type="text" class="form-control" id="" placeholder=" Enter Name">
                </div>
                <div class="form-group">
                  <label class="contact-us-label"for="exampleInputEmail">Email Address</label>
                  <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
                </div>	
                <div class="form-group">
                  <label class="contact-us-label"for="telephone">Mobile No.</label>
                  <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
                </div>
                </div>
                <div class="col-md-6 form-line">
                <div class="form-group">
                  <label class="contact-us-label"for ="description"> Message</label>
                  <textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                </div>
                <div class="btn-grp">
                  <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
                </div>   
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
