body {
  background-color: #292525;
  color: #fffff0;
}
.container-style {
  background-color: #292525;
}

.content-style {
  background: #d2b48c;
  margin-left: 44px;
  margin-right: 44px;
  margin-top: 2%;
  padding: 30px;
}

.app-style {
  margin-left: -40px;
}
