<body>
  <div class="container-fluid container-style" id="main">
    <app-header></app-header>
    <div class="card content-style">
      <app-side-nav></app-side-nav>
      <div class="app-style">
        <div class="splash" [hidden]="!showSplash">
          <img width="100" height="20" src="../../assets/images/loading.gif"
               alt="loading-image"/>
        </div>
        <router-outlet [hidden]="showSplash" (activate)="onActivate()"></router-outlet>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
      <div class="container">
          <div class="row">
              <!-- <div class="col-lg-3 col-md-6">
                  <div class="f_widget company_widget wow fadeInLeft"
                       data-wow-delay="0.2s"
                       style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                      <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                      <p>Don’t miss any update! Subscribe to our newsletter.</p>
                      <form action="#"
                            class="f_subscribe_two mailchimp"
                            method="post"
                            novalidate="true"
                            _lpchecked="1">
                          <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                          <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                          <p class="mchimp-errmessage" style="display: none;"></p>
                          <p class="mchimp-sucmessage" style="display: none;"></p>
                      </form>
                  </div>
              </div> -->
              <div class="col-lg-4 col-md-6">
                  <div class="f_widget about-widget pl_70 wow fadeInLeft"
                       data-wow-delay="0.4s"
                       style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                      <h3 class="f-title f_600 t_color f_size_18">About Us</h3>
                      <ul class="list-unstyled f_list">
                          <li><a routerLink="about-us">Company</a></li>
                          <li><a routerLink="about-us">Android App</a></li>
                          <li><a routerLink="about-us">ios App</a></li>
                          <li><a routerLink="about-us">Projects</a></li>
                          <li><a routerLink="about-us">My tasks</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="f_widget about-widget pl_70 wow fadeInLeft"
                       data-wow-delay="0.6s"
                       style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                      <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                      <ul class="list-unstyled f_list">
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">Terms &amp; conditions</a></li>
                          <li><a routerLink="contact-us">Contact Us</a></li>
                          <li><a routerLink="privacy">Privacy</a></li>
                          <li><a href="#">Support Policy</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="f_widget social-widget pl_70 wow fadeInLeft"
                       data-wow-delay="0.8s"
                       style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                      <h3 class="f-title f_600 t_color f_size_18">Social Media</h3>
                      <div class="f_social_icon">
                          <a href="https://www.facebook.com/realibotnews"
                             class="fab fa-facebook"
                             target="_blank">
                          </a>
                          <a href="https://twitter.com/realibotnews"
                             class="fab fa-twitter"
                             target="_blank">
                          </a>
                          <a href="https://www.linkedin.com/company/ibotnews"
                             class="fab fa-linkedin"
                             target="_blank">
                          </a>
                          <a href="#"
                             class="fab fa-pinterest"
                             target="_blank">
                          </a>
                      </div>
                      <div class="make-in-india-footer">
                        <img src="assets/images/make-in-india.png"
                             alt="make-in-india" width="200" height="100"
                             loading="lazy">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer_bg" loading="lazy">
          <div class="footer_bg_one"></div>
          <div class="footer_bg_two"></div>
      </div>
  </div>
  <div class="footer_bottom">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-sm-7">
                  <p class="mb-0 f_400">© iBot News 2021 All rights reserved.</p>
              </div>
              <div class="col-lg-6 col-sm-7">
                  <p class="mb-0 f_400">
                      <!-- Badge Code - Do Not Change The Code -->
                      <a class="hitCounter" title="Hit counter"
                         data-name="d5e363353f812b0018322fbcc059b3fc|5|page|1|#ea5050|#ffffff|small|s-hit">
                      </a>
                      <script>
                        document.write("<script type='text/javascript' src='https://visitorshitcounter.com/js/hitCounter.js?v="+Date.now()+"'><\/script>");
                      </script>
                      <!-- Badge Code End Here -->      
                  </p>
              </div>
              <div class="col-lg-6 col-sm-7">
                  <p class="mb-0 f_400">
                    <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=5c39f8483cd46b5b4834975fe97d0fca61e31fd1'></script>
                    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/811671/t/13"></script>  
                  </p>
              </div>
              <div class="col-lg-6 col-sm-7 text-right">
                  <p class="mb-0 f_400">Made in India</p>
              </div>
          </div>
      </div>
  </div>
</footer>
