<div class="standalone-page-container">
  <div class="card flex-row flex-wrap news-li-style">
    <div class="flex-wrap card-body news-content">
      <h1 class="ipl-score-section-header">
        <span class="creative-header"> IPL LIVE Score
          <span class="ring-container">
            <span class="ringring"></span>
            <span class="circle"></span>
          </span>
        </span>
      </h1>
      <div class="ipl-score-frame-container">
        <iframe src="https://cwidget.crictimes.org/?v=1.1&a=485563&bo=485563&lb=646464&db=485563&ti=fcc500&tc=646464"
                class="ipl-iframe"
                frameborder="0"
                loading="lazy"
                scrolling="yes">
        </iframe>
      </div>
    </div>
  </div>
</div>
