<div [hidden]="showSplash">
  <div class="search-res-indicator-txt" *ngIf="source === 'search'">
    <div class="card flex-row flex-wrap" *ngIf="allArticles">
      <div class="flex-wrap card-body news-li-style news-content">
        Search results for <i><b>"{{query}}"</b></i>
      </div>
    </div>
    <div class="card flex-row flex-wrap" *ngIf="allArticles === null">
      <div class="flex-wrap card-body news-li-style news-content">
        Oops! No results found for <i><b>"{{query}}"</b></i>. Please try another search query.
      </div>
    </div>
  </div>
  <div class="filters-container" *ngIf="allArticles">
    <span class="toggle-text">Display positive News</span>
    <label class="switch">
      <input type="checkbox"
             [checked]="displayPositiveNews"
             (change)="filterNews()">
      <span class="slider round"></span>
    </label>
  </div>
  <ul>
    <li *ngFor="let news of allArticles"
        class="card flex-row flex-wrap news-li-style">
      <div class="center-img">
        <img src="{{ news.urlToImage }}" alt="{{ news.title }}"
             width="200" height="120"
             onerror="this.src='assets/images/default.jpg'"
             class="news-img">
      </div>
      <div class="card-body news-content">
        <a href="{{ news.url }}" target="_new">
          <p class="card-title"><b>{{ news.title }}</b></p>
        </a>
        <p class="card-text"><span [innerHTML]="news.description"></span></p>
        <span>
          <b>Source: </b>{{ news.source.name }}
        </span>
      </div>
      <div class="">
        <span class="sml col">
          <span class="pie pie--value row"
                style="{{ this.getPercentageStyle(news.positivity) }}"
                data-toggle="tooltip" data-placement="top"
                title="Bots found it to be {{ news.positivity * 100 | number:'1.0-0' }}% positive.">
          </span>
          <span class="pie pie--value row"
                style="{{ this.getPercentageStyle(news.neutrality) }}"
                title="Bots found it to be {{ news.neutrality * 100 | number:'1.0-0' }}% neutral.">
          </span>
          <span class="pie pie--value row"
                style="{{ this.getPercentageStyle(news.negativity) }}"
                title="Bots found it to be {{ news.negativity * 100 | number:'1.0-0' }}% negative.">
          </span>
        </span>
      </div>
    </li>
  </ul>
</div>
