<div [hidden]="showSplash">
  <div class="search-res-indicator-txt" *ngIf="source === 'search'">
    <div class="card flex-row flex-wrap" *ngIf="allArticles && allArticles.length > 0">
      <div class="flex-wrap card-body news-li-style news-content search-text-adjust">
        Search results for <i><b>"{{query}}"</b></i>
      </div>
    </div>
    <div class="card flex-row flex-wrap" *ngIf="allArticles && allArticles.length == 0">
      <div class="flex-wrap card-body news-li-style news-content search-text-adjust">
        Oops! No results found for <i><b>"{{query}}"</b></i>. Please try another search query.
      </div>
    </div>
  </div>
  <div class="filters-container" *ngIf="allArticles && allArticles.length > 0">
    <span class="toggle-text">Display positive News</span>
    <label class="switch">
      <input type="checkbox"
             [checked]="displayPositiveNews"
             (change)="filterNews()">
      <span class="slider round"></span>
    </label>
  </div>
  <ul>
    <li *ngFor="let news of allArticles; index as i;"
        class="card flex-row flex-wrap news-li-style">
      <div class="center-img">
        <img src="{{ news.urlToImage }}" alt="{{ news.title }}"
             width="200" height="120"
             onerror="this.src='assets/images/default.jpg'"
             class="news-img">
      </div>
      <div class="card-body news-content">
        <div>
          <a href="{{ news.url }}" target="_new">
            <p class="card-title"><b>{{ news.title }}</b></p>
          </a>
          <p class="card-text"><span [innerHTML]="news.description"></span></p>
          <span>
            <b>Source: </b>{{ news.source.name }}
          </span>
        </div>
        <div>
          <span (click)="saveUserNews(news, loginModal)" class="user-interaction-element">
            <i class="far fa-bookmark fa-lg fa-fw" aria-hidden="true" *ngIf="!loggedIn || (loggedIn && !news.savedArticle)"></i>
          </span>
          <span (click)="unSaveUserNews(news)" class="user-interaction-element">
            <i class="fas fa-bookmark fa-lg fa-fw" aria-hidden="true" *ngIf="loggedIn && news.savedArticle"></i>
          </span>
          <label class="fancy-radio user-interaction-element">
            <input type="radio" (change)="saveUserSentiment(news.url, 'smile', loginModal)" name="news-sentiment-{{i}}" [ngModel]="news.sentiment" value="smile"/>
            <i class="far fa-smile fa-lg fa-fw unchecked" aria-hidden="true"></i>
            <i class="fas fa-smile fa-lg fa-fw checked" aria-hidden="true"></i>
          </label>
          <label class="fancy-radio user-interaction-element">
            <input type="radio" (change)="saveUserSentiment(news.url, 'meh', loginModal)" name="news-sentiment-{{i}}" [ngModel]="news.sentiment" value="meh"/>
            <i class="far fa-meh fa-lg fa-fw unchecked" aria-hidden="true"></i>
            <i class="fas fa-meh fa-lg fa-fw checked" aria-hidden="true"></i>
          </label>
          <label class="fancy-radio user-interaction-element">
            <input type="radio" (change)="saveUserSentiment(news.url, 'frown', loginModal)" name="news-sentiment-{{i}}" [ngModel]="news.sentiment" value="frown"/>
            <i class="far fa-frown fa-lg fa-fw unchecked" aria-hidden="true"></i>
            <i class="fas fa-frown fa-lg fa-fw checked" aria-hidden="true"></i>
          </label>
        </div>
      </div>
      <div class="pie-grp">
        <span class="sml col">
          <span class="pie pie--value row"
                style="{{ this.getPercentageStyle(news.positivity) }}"
                data-toggle="tooltip" data-placement="top"
                title="Bots found it to be {{ news.positivity * 100 | number:'1.0-0' }}% positive.">
          </span>
          <span class="pie pie--value row"
                style="{{ this.getPercentageStyle(news.neutrality) }}"
                title="Bots found it to be {{ news.neutrality * 100 | number:'1.0-0' }}% neutral.">
          </span>
          <span class="pie pie--value row"
                style="{{ this.getPercentageStyle(news.negativity) }}"
                title="Bots found it to be {{ news.negativity * 100 | number:'1.0-0' }}% negative.">
          </span>
        </span>
      </div>
    </li>
  </ul>
  <!-- START: Buttons to navigate back and forth. -->
  <div class="prev-nxt-btn-grp" *ngIf="allArticles && allArticles.length > 0">
    <button (click)="getPreviousArticles()"
            [disabled]="currentPage == 1"
            type="button"
            class="btn btn-default common-site-btn">
            <i class="fa fa-arrow-left"
               aria-hidden="true">
            </i>  Prev
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="getNextArticles()"
            [disabled]="currentPage >= maxPages"
            type="button"
            class="btn btn-default common-site-btn">
            Next  
            <i class="fa fa-arrow-right"
               aria-hidden="true">
            </i>
    </button>
  </div>
  <!-- END: Buttons to navigate back and forth. -->
</div>
<!-- START: Modal for login purposes. -->
<ng-template #loginModal let-modal>
  <div class="modal-header">
      <span class="modal-title" id="modal-basic-title">Please login to continue...</span>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="btn-social-container-modal">
      <button class="btn-social-auth btn-lg btn-google btn-block text-uppercase"
              (click)="signInWithGoogle()">
              <i class="fab fa-google fa-lg fa-fw"></i>
              <span class="login-btn-txt"> Sign in with Google </span>
      </button>
      <button class="btn-social-auth btn-lg btn-facebook btn-block text-uppercase"
              (click)="signInWithFB()">
              <i class="fab fa-facebook fa-lg fa-fw"></i>
              <span class="login-btn-txt"> Sign in with Facebook </span>
      </button>
    </div>
  </div>
  <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" ngbAutofocus>Ok</button> -->
  </div>
</ng-template>
<!-- END: Modal for login purposes. -->
