<div class="my-profile-container">
  <div class="card flex-row flex-wrap">
    <div class="flex-wrap card-body news-li-style news-content">
      <div *ngIf="!user" class="btn-social-container">
        <p>Please login and customize your experience.</p>
        <button class="btn-social-auth btn-lg btn-google btn-block text-uppercase"
                (click)="signInWithGoogle()">
                <span class="fa fa-google"></span>
                <span class="login-btn-txt"> Sign in with Google </span>
        </button>
        <button class="btn-social-auth btn-lg btn-facebook btn-block text-uppercase"
                (click)="signInWithFB()">
                <span class="fa fa-facebook"></span>
                <span class="login-btn-txt"> Sign in with Facebook </span>
        </button>
      </div>
      <div *ngIf="user">
        <img *ngIf="user.provider==='GOOGLE'"
             src="{{ user.photoUrl }}">
        <img *ngIf="user.provider==='FACEBOOK'"
             src="{{ user.response.picture.data.url }}">
        <div>
          <h4>{{ user.name }}</h4>
          <p>{{ user.email }}</p>
        </div>
        <div class="">
          <button class="btn btn-danger" (click)="signOut()">Sign out</button>
        </div>
      </div>
    </div>
  </div>
</div>
