<div class="about-us-container">
  <div class="card flex-row flex-wrap news-li-style">
    <div class="flex-wrap card-body news-content">
      <h1 class="about-us-section-header"> <span class="creative-header"> About us</span></h1>
      <div class="about-us-content">
        <p>
        Our product is powered by <span class="creative-header-sm">iBot</span>
        or intelligent Bots. <span class="creative-header-sm">iBots</span>
        provides latest news from around the world and classify the article
        based on it's category and positive content by intelligently judging the
        intent. The world is full of negative news. Our mission is to provide
        you positivenews using cutting edge artificial intelligence technology.
        </p>
        <p>
          Please note that this site is made in India for the world.
          <span class="">
            <img src="assets/images/make-in-india.png" alt=""
                  width="80" height="40">
          </span>
        </p>
        <p>
          We are constantly evolving everyday to provide you with the relevant news.
        </p>
        <div class="">
          Support us on
          <a href="https://www.patreon.com/abhaystoic" target="_blank">
          <button type="button"
                  class="btn btn-default common-site-btn">
                  <i class="fa fa-paper-plane"
                     aria-hidden="true">
                  </i>  Patreon
          </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
