<div class="about-us-container">
  <div class="card flex-row flex-wrap">
    <div class="flex-wrap card-body news-li-style news-content">
      <h1 class="about-us-section-header"> <span class="creative-header"> About us</span></h1>
      <div class="about-us-content">
        <p>
        The world is full of negative news. Try and switch to any news channel and
        you'll see them convincing you that the world is about to end. Our mission
        is to provide you positive news using cutting edge artificial intelligence
        technology.
        </p>
        <p>
          Please note that this site is made in India for the world.
          <span class="">
            <img src="assets/images/make-in-india.png" alt=""
                  width="80" height="40">
          </span>
        </p>
        <p>
          We are constantly evolving everyday to provide you with the relevant news.
        </p>
        <div class="">
          Support us on
          <a href="https://www.patreon.com/abhaystoic" target="_blank">
          <button type="button"
                  class="btn btn-default common-site-btn">
                  <i class="fa fa-paper-plane"
                     aria-hidden="true">
                  </i>  Patreon
          </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
