<div class="about-us-container">
  <div class="card flex-row flex-wrap">
    <div class="flex-wrap card-body news-li-style news-content">
      <p>
      The world is full of negeative news. Try and switch to any news channel and
      you'll see them convincing you that the world is about to end. Our mission
      is to provide you positive news using cutting edge artificial intelligence
      technology.
      </p>
      <p>
        Please note that this site is pretty much work in progress and we are constantly
        evolving everyday to provide you with relevant news.
      </p>
    </div>
  </div>
</div>
